
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495374174129'); /* IE9*/
  src: url('iconfont.eot?t=1495374174129#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495374174129') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495374174129') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495374174129#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiazai:before { content: "\e600"; }

.icon-duojiaoxing:before { content: "\e612"; }

.icon-iconfontxinjian:before { content: "\e618"; }

.icon-bianji01:before { content: "\e602"; }

.icon-text:before { content: "\e627"; }

.icon-save:before { content: "\e623"; }

.icon-tuxiangchulileiiconshuchu04:before { content: "\e656"; }

.icon-sanjiaoxing:before { content: "\e6b4"; }

.icon-huanyanse:before { content: "\e679"; }

.icon-rounded-corners-stroke1-s40-r10:before { content: "\e625"; }

.icon-wujiaokongxin:before { content: "\e6ba"; }

.icon-chexiao:before { content: "\e606"; }

.icon-yuanjiaojuxing:before { content: "\e71a"; }

.icon-palette:before { content: "\e640"; }

.icon-yuanjiaojuxingxuanzekuang:before { content: "\e694"; }

.icon-juxing:before { content: "\e619"; }

.icon-duobianxing:before { content: "\e603"; }

.icon-xiangpica_icon:before { content: "\e6a5"; }

.icon-miaobian:before { content: "\e795"; }

.icon-yuan:before { content: "\e673"; }

.icon-chexiao1:before { content: "\e604"; }

.icon-xian:before { content: "\e653"; }

.icon-xuxian:before { content: "\e672"; }

